#header {
	height: 3rem;
	padding: .5rem 0;
	box-shadow: 0 0 12px 0 rgba(7,17,27,0.06);
	#nav {
		margin: 0 auto;
		max-width: 1000px;
		#logo {
			height: 2.3rem;
			padding: .3rem .7rem .3rem 0;
			float: left;
		}
		#title {
			font-size: 20px;
			font-weight: bold;
			font-family: Trebuchet MS;
			line-height: 3rem;
			float: left;
		}
		#btn {
			padding: calc((3rem - 40px) / 2) 0;
			float: right;
			:nth-child(2) {
				margin-left: 10px;
				float: right;
			}
		}
	}
	.el-dialog {
		min-width: 400px;
		border-radius: 8px;
		box-shadow: 0 4px 8px 6px rgba(7,17,27,0.06);
		transition: all 0.3s;
		&:hover {
			box-shadow: 0 4px 12px 12px rgba(7,17,27,0.15);
		}
		.el-dialog__body {
			padding: 15px 20px;
			.el-textarea__inner {
				margin-top: 20px;
			}
			#tags {
				height: 32px;
				padding-top: 20px;
				.el-tag {
					margin-right: 10px;
				}
				.button-new-tag {
					line-height: 30px;
					padding-top: 0;
					padding-bottom: 0;
				}
				.input-new-tag {
					width: 90px;
					vertical-align: bottom;
				}
			}
		}
	}
}